---
import { Icon } from "astro-icon/components";
import BlogCard from "@/components/ui/BlogCard/index.astro";
import Heading from "@/components/ui/Heading/index.astro";
import TextLink from "@/components/ui/TextLink/index.astro";
import { PATH } from "@/constants";
import { fetchBlogs } from "@/hooks/fetchBlogs";
import type { BlogItem } from "@/types";

const { blogs } = await fetchBlogs({ limit: 3 });
---

<section id="latest-blogs">
  <Heading as="h2">最新の記事</Heading>

  <div class="grid sm:grid-cols-3 grid-cols-1 gap-4">
    {
      blogs.map((blog: BlogItem) => (
        <BlogCard blog={blog} />
      ))
    }
  </div>
  <TextLink href={PATH.BLOGS} className="mx-auto">
    <span>記事一覧はこちら</span>
    <Icon slot="suffix" name="ri:external-link-fill" size={16} />
  </TextLink>
</section>

<style>
  #latest-blogs {
    @apply py-6 gap-4 flex flex-col;
  }
</style>
