---
import { Image } from "astro:assets";
import FloorPlanImage from "@/assets/images/access/floor_plan.jpeg";
import Heading from "@/components/ui/Heading/index.astro";
---

<section id="access">
  <Heading as="h2">アクセス</Heading>
  <div class="flex flex-col gap-2">
    <p class="text-gray-700 text-lg">サークルは工学部棟(2・3・4号館)3階プログラミング道場にて活動しています。お気軽にお越しください。</p>
    
    <div class="flex flex-col xl:flex-row gap-2 xl:h-80 max-w-[90vw]">
      <iframe 
        class="w-full xl:h-full h-80 border-2 border-gray-300 rounded-md shadow-md" 
        src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d1644.8796954682393!2d133.23016694298497!3d34.4582551661282!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzTCsDI3JzI1LjciTiAxMzPCsDEzJzUxLjciRQ!5e0!3m2!1sen!2sjp!4v1770099354332!5m2!1sen!2sjp" 
        allowfullscreen 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade"
        title="福プロの位置情報"
      />
      <Image src={FloorPlanImage} alt="工学部棟(2・3・4号館)3階プログラミング道場" class="w-full xl:h-80 shadow-md rounded-md" />
    </div>
  </div>
</section>

<style>
  #access {
    @apply py-6 gap-2 flex flex-col;
  }
</style>