---
import { Icon } from "astro-icon/components";
import { PATH } from "@/constants";
import type { BlogTag } from "@/types";

type Props = {
	tags: BlogTag[];
};

const { tags } = Astro.props as Props;
---

<div class="flex flex-wrap gap-2">
  {tags.map((tag) => (
    <a class="flex items-center" href={`${PATH.BLOGS}?tag=${encodeURIComponent(tag.name)}`} target="_blank" rel="noopener noreferrer">
      <Icon name="ri:hashtag" size={16} />
      <span class="text-sm text-gray-500">{tag.name}</span>
    </a>
  ))}
</div>
