---
type Props = {
  href: string;
  className?: string;
};

const { href, className } = Astro.props;
const hasSuffix = Astro.slots.has("suffix");
const hasPrefix = Astro.slots.has("prefix");
---

<a href={href} class={className}>
  {hasPrefix && <slot name="prefix" />}
  <slot />
  {hasSuffix && <slot name="suffix" />}
</a>

<style>
  a {
    @apply text-blue-500 hover:text-blue-600 flex items-center gap-2 border-b border-blue-500 w-fit;
  }
</style>
